<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <div class="calendar">
    <div class="calendar-header">
      <h1>Today's Thirsty Plants</h1>
    </div>

    <div class="calendar-body">
      <% profile.plants.forEach(plant => { %> <% if
      (Date.parse(plant.nextWater.toDateString()) <= Date.parse(new
      Date().toDateString())) { %>
      <div class="watering-container">
        <div class="watering-image">
          <img src="<%= plant.img %>" alt="avatar" />
        </div>

        <div class="watering-body">
          <p><%= plant.plant.type %> <%= plant.plant.name %></p>
          <p><%= plant.nickname %></p>
          <% if (plant.nextWater.toDateString() < new Date().toDateString()) {
          %>
          <p>THIRSTY</p>
          <% } %>
        </div>
        <div class="watering-action">
          <% if(plant.isWatered){ %>

          <i class="fas fa-solid fa-droplet"></i>

          <% } else { %>

          <i class="fas fa-solid fa-check"></i>
          <% } %>
        </div>
      </div>

      <% } %> <% }) %>
    </div>

    <div class="calendar-footer">
      <% if(!profile.plants.find(plant => plant.isWatered === false)) { %>

      <h2>No plants to water today!</h2>

      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
