<%- include('../partials/html-head') %>
<script defer src="/js/viewTile.js"></script>
<%- include('../partials/nav') %>

<main>
  <div class="profile-container">
    <img class="profile-picture" src="<%= profile.avatar %>" alt="avatar" />
    <span><%= profile.username %></span>
    <!-- Add Bio field -->
    <p class="bio"><%= profile.bio %></p>
    <!-- Add Zone -->
    <p><%= profile.plants.length %> Plants</p>
  </div>

  <p>Plants</p>
  <a href="/profiles/<%= profile.username %>/plants">Add plant to collection</a>

  <div class="tile-container">
    <% profile.plants.forEach(plant => { %>
    <div id="<%= plant._id %>" class="tile" owner="<%= profile.username %> ">
      <a href="/profiles/<%= profile.username %>/plants/<%= plant._id %>"
        ><%= plant.nickname %></a
      >
      <p><%= plant.plant.name %></p>

      <img src="<%= plant.img %>" alt="" />
      <form
        action="/profiles/<%= profile.username %>/water/<%= plant._id %>?_method=PATCH"
        method="post"
      >
        <button type="submit">WATER</button>
      </form>

      <!-- <a
          href="/profiles/<%= profile._id %>/water/<%= plant._id %>?_method=PATCH"
          >WATER</a
        > -->

      <!-- <p>IS WATERED: <%= //plant.isWatered %></p> -->
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
