<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <p><%= profile.name %></p>
  <p>Plants</p>
  <a href="/profiles/<%= profile._id %>/plants">Add plant to collection</a>
  <ul>
    <% profile.plants.forEach(plant => { %>
    <li>
      <%= plant.plant.name %>
      <form
        action="/profiles/<%= profile._id %>/water/<%= plant._id %>?_method=PATCH"
        method="post"
      >
        <button type="submit">WATER</button>
      </form>

      <!-- <a
        href="/profiles/<%= profile._id %>/water/<%= plant._id %>?_method=PATCH"
        >WATER</a
      > -->

      <p>IS WATERED: <%= plant.isWatered %></p>
    </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
