<%- include('../partials/html-head') %>
<script defer src="/js/viewTile.js"></script>
<script defer src="/js/editProfile.js"></script>
<script defer src="/js/postsPlantsTabs.js"></script>
<%- include('../partials/nav') %>

<main>
  <div class="profile-container">
    <img class="profile-picture" src="<%= profile.avatar %>" alt="avatar" />
    <span id="username"><%= profile.username %></span>
    <% if (user.profile._id.equals(profile._id)) { %>
    <i class="fas fa-solid fa-pen"></i>
    <% } %>

      
    <% if (!user.profile._id.equals(profile._id)) { %>

      <% if (profile.followers.includes(user.profile._id)) { %>
        <button>FOLLOWING</button></form>
      <% } else { %>

      <form action="/profiles/<%= profile.username %>/follow?_method=PUT" method="post"><button type="submit">FOLLOW</button></form>

      <% } %>
    <% } %>


    <!-- Add Bio field -->
    <h4>
      Bio <% if (user.profile._id.equals(profile._id)) { %>
      <i class="fas fa-solid fa-pen"></i>
      <% } %>
    </h4>

    <p id="bio" class="bio"><%= profile.bio %></p>
    <!-- Add Zone -->
    <!--  -->
    <!--  -->
    <!--  -->
    <form
      style="display: inline"
      action="/profiles/<%= profile.username %>/plants"
      method="get"
    >
      <p style="display: inline">
        <%= profile.plants.length %> Plants <% if
        (user.profile._id.equals(profile._id)) { %>
        <button type="submit"><i class="fas fa-solid fa-plus"></i></button>

        <% } %>
      </p>
    </form>

    <div class="modal" id="followers-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Followers</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <button data-bs-toggle="modal" data-bs-target="#followers-modal">
      <%= profile.followers.length %> Followers
    </button>

    <div class="modal" id="following-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Followers</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <button data-bs-toggle="modal" data-bs-target="#following-modal">
      <%= profile.following.length %> Following
    </button>
    </div>

  <div class="posts-plants">
    <ul class="tab-group">
      <li class="tab"><a class="active">Posts</a></li>
      <li class="tab"><a>Plants</a></li>
    </ul>
  </div>

  <div class="tile-container">
    <% profile.posts.forEach(post => { %>

    <div id="<%= post._id %>" class="tile">
      <img src="<%= post.img %>" alt="" />
    </div>

    <% }) %>
  </div>

  <div style="display: none" class="tile-container">
    <% profile.plants.forEach(plant => { %>
    <div id="<%= plant._id %>" class="tile" owner="<%= profile.username %>">
      <a href="/profiles/<%= profile.username %>/plants/<%= plant._id %>"
        ><%= plant.nickname %></a
      >
      <p><%= plant.plant.name %></p>

      <img src="<%= plant.img[0] %>" alt="" />
      <form
        action="/profiles/<%= profile.username %>/water/<%= plant._id %>?_method=PATCH"
        method="post"
      >
        <button type="submit">WATER</button>
      </form>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
