<%- include('../partials/html-head') %>
<script defer src="/js/viewTile.js"></script>
<script defer src="/js/editProfile.js"></script>
<script defer src="/js/postsPlantsTabs.js"></script>
<%- include('../partials/nav') %>

<main>
  <div class="profile-container">
    <img class="profile-picture" src="<%= profile.avatar %>" alt="avatar" />
    <span id="username"><%= profile.username %></span>
    <% if (user.profile._id.equals(profile._id)) { %>
    <i class="fas fa-solid fa-pen"></i>
    <% } %>
    <!-- Add Bio field -->
    <h4>
      Bio <% if (user.profile._id.equals(profile._id)) { %>
      <i class="fas fa-solid fa-pen"></i>
      <% } %>
    </h4>

    <form
      action="/profiles/<%= user.profile.username %>"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" class="form-control-file" name="image" />
      <button type="submit">SUBMIT</button>
    </form>

    <p id="bio" class="bio"><%= profile.bio %></p>
    <!-- Add Zone -->
    <!--  -->
    <!--  -->
    <!--  -->
    <form
      style="display: inline"
      action="/profiles/<%= profile.username %>/plants"
      method="get"
    >
      <p style="display: inline">
        <%= profile.plants.length %> Plants <% if
        (user.profile._id.equals(profile._id)) { %>
        <button type="submit"><i class="fas fa-solid fa-plus"></i></button>

        <% } %>
      </p>
    </form>

    <span>Followers</span>
    <span>Following</span>
  </div>

  <div class="posts-plants">
    <ul class="tab-group">
      <li class="tab"><a class="active">Posts</a></li>
      <li class="tab"><a>Plants</a></li>
    </ul>
  </div>

  <div class="tile-container">
    <% profile.posts.forEach(post => { %>

    <div id="<%= post._id %>" class="tile">
      <img src="<%= post.img %>" alt="" />
    </div>

    <% }) %>
  </div>

  <div style="display: none" class="tile-container">
    <% profile.plants.forEach(plant => { %>
    <div id="<%= plant._id %>" class="tile" owner="<%= profile.username %>">
      <a href="/profiles/<%= profile.username %>/plants/<%= plant._id %>"
        ><%= plant.nickname %></a
      >
      <p><%= plant.plant.name %></p>

      <img src="<%= plant.img %>" alt="" />
      <form
        action="/profiles/<%= profile.username %>/water/<%= plant._id %>?_method=PATCH"
        method="post"
      >
        <button type="submit">WATER</button>
      </form>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
