<%- include('../partials/html-head') %>
<script defer src="/js/viewTile.js"></script>

<% if (user.profile._id.equals(profile._id)) { %>
  <script defer src="/js/editProfile.js"></script>
<% } %>
<script defer src="/js/postsPlantsTabs.js"></script>
<%- include('../partials/nav') %>

<main>
  <div class="profile-container">
    <div class="pc-header">
      <img class="profile-picture" src="<%= profile.avatar %>" alt="profile" />
    <span id="username"><%= profile.username %></span>
    <% if (user.profile._id.equals(profile._id)) { %>
    <i class="fas fa-solid fa-pen" title="Edit Username"></i>
    <% } %>

      
    <% if (!user.profile._id.equals(profile._id)) { %>

      <% if (profile.followers.find(profile => profile.username === user.profile.username)) { %>
        <button>FOLLOWING</button></form>
      <% } else { %>

      <form action="/profiles/<%= profile.username %>/follow?_method=PUT" method="post" style="display:inline;"><button type="submit">FOLLOW</button></form>

      <% } %>
    <% } %>
    </div>

    <div class="pc-body">
      <span>
        Bio <% if (user.profile._id.equals(profile._id)) { %>
        <i class="fas fa-solid fa-pen" title="Edit Bio"></i>
        <% } %>
        </span>
  
      <p id="bio" class="bio"><%= profile.bio %></p>
    </div>

    <div class="pc-footer">
      <form
      style="display: inline"
      action="/profiles/<%= profile.username %>/plants"
      method="get"
    >
      <p style="display: inline">
        <%= profile.plants.length %> <i class="fas fa-solid fa-spa" title="Plants"></i> <% if
        (user.profile._id.equals(profile._id)) { %>
        <button type="submit"><i class="fas fa-solid fa-plus" title="Add new plant to coll."></i></button>

        <% } %>
      </p>
    </form>

    <div class="modal" id="followers-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Followers</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <% profile.followers.forEach((follower) => { %>

              <div class="follower">
                <img src="<%= follower.avatar %>" alt="avatar">
                <a href="/profiles/<%= follower.username %>"><%= follower.username %></a>
              </div>

              <% }) %>
            </div>
        </div>
      </div>
    </div>

    <button data-bs-toggle="modal" data-bs-target="#followers-modal">
      <%= profile.followers.length %> Followers
    </button>

    <div class="modal" id="following-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Following</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <% profile.following.forEach((following) => { %>
              <div class="following">
                <img src="<%= following.avatar %>" alt="avatar">
                <a href="/profiles/<%= following.username %>"><%= following.username %></a>
              </div>

            <% }) %></div>
        </div>
      </div>
    </div>

    <button data-bs-toggle="modal" data-bs-target="#following-modal">
      <%= profile.following.length %> Following
    </button>
    </div>

    </div>

  <div class="posts-plants">
    <ul class="tab-group">
      <li class="tab"><a class="active">Posts</a></li>
      <li class="tab"><a class>Plants</a></li>
    </ul>
  </div>

  <div class="tile-container">
    
      <% for(let i = profile.posts.length - 1; i >= 0; i -= 1) { %>

    <div  class="tile post">
      <img id="<%= profile.posts[i]._id %>" src="<%= profile.posts[i].img %>" alt="" />
    </div>

    <% } %>
  </div>

  <div style="display: none" class="tile-container">
    <% profile.plants.forEach(plant => { %>
    <div  class="tile plant" owner="<%= profile.username %>">
      
      <img id="<%= plant._id %>" src="<%= plant.img[0] %>" alt="" />

    </div>
    <% }) %>
  </div>

</main>

<%- include('../partials/footer') %>
