<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <form
    action="/profiles/<%= profile.username %>?_method=PUT"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="image">Upload image</label>
    <input
      type="file"
      class="form-control-file"
      name="image"
      id="image"
      required
    />

    <label for="plantNickname">Nickname:</label>
    <input type="text" name="nickname" id="plantNickname" />

    <label for="wateringSchedule">Set a watering schedule:</label>
    <select name="wateringSchedule" id="wateringSchedule">
      <% [1,2,3,4,5,6,7,8,9,10].forEach(day => { %>
      <option value="<%= day %>">
        <%= day > 1 ? `${day} days` : `${day} day` %>
      </option>
      <% }) %> <% [14, 21, 28].forEach(day => { %>
      <option value="<%= day %>"><%= `${day/7} weeks` %></option>
      <% }) %>
    </select>

    <label for="plant">Choose Plant</label>
    <select name="plant" id="plant">
      <% allPlants.forEach(plant => { %>
      <option value="<%= plant._id %>"><%= plant.name %></option>
      <% }) %>
    </select>

    <button type="submit">Add Plant</button>
  </form>
</main>

<%- include('../partials/footer') %>
