<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <h1><%= plant.plant.name %></h1>

  <% if (plant.nickname) { %>

  <h2><%= plant.nickname %></h2>

  <% } %>

  <p>is Watered: <%= plant.isWatered %></p>
  <p>Next Watering: <%= plant.nextWater.toLocaleDateString() %></p>
  <p>
    Watering Schedule: Every <%= plant.wateringSchedule %> <%=
    plant.wateringSchedule === 1 ? 'day' : 'days' %>
  </p>
  <form
    action="/profiles/<%= user.profile.username %>/plants/<%= plant._id %>?_method=DELETE"
    method="post"
  >
    <button type="submit">Send to Plant Heaven</button>
  </form>

  <h3>Notes</h3>
  <span>New Note:</span>
  <form
    action="/profiles/<%= user.profile.username %>/plants/<%= plant._id %>/addNote"
    method="post"
  >
    <input type="text" name="action" id="action" placeholder="action" />

    <textarea
      name="info"
      id="info"
      cols="30"
      rows="3"
      placeholder="Information"
    ></textarea>

    <button type="submit">Add Note</button>
  </form>

  <% for(let i = plant.notes.length - 1; i >= 0; i -= 1) { %>

  <div class="note-container">
    <div class="note-head">
      Note #<%= i + 1 %> <%= plant.notes[i].action %> on <%=
      plant.notes[i].createdAt.toLocaleDateString() %>
    </div>
    <div class="note-body"><%= plant.notes[i].action.info %></div>
    <div class="note-footer"></div>
  </div>
  <% } %>

  <div class="note-container">
    <div class="note-head"></div>
    <div class="note-body"></div>
    <div class="note-footer"></div>
  </div>
</main>

<%- include('../partials/footer') %>
