<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <img src="<%= post.owner.avatar %>" alt="avatar" />
  <a href="/profiles/<%= post.owner.username %>"><%= post.owner.username %></a>
  <img src="<%= post.img %> " alt="postPicture" />
  <p><%= post.descrition %></p>

  <form action="/posts/<%= post._id %>/like?_method=PATCH" method="post">
    <button type="submit">
      <%= post.likes %> <i class="fas fa-light fa-heart"></i>
    </button>
  </form>

  <% post.comments.forEach(comment => { %>
  <div class="comment">
    <div class="comment-header">
      <img src="<%= comment.owner.avatar %>" alt="avatar" />
      <a href="/profiles/<%= comment.owner.username %>"
        ><%= comment.owner.username %></a
      >
    </div>
    <div class="comment-body">
      <p><%= comment.data %></p>
      <form
        action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=PATCH"
        method="post"
      >
        <button type="submit">
          <%= comment.likes %> <i class="fas fa-light fa-heart"></i>
        </button>
      </form>
      <% if (user.profile._id.equals(comment.owner._id)) { %>
      <div class="edit">
        <i class="fas fa-solid fa-pen"></i>
      </div>

      <!-- <div class="delete"><i class="fas fa-solid fa-trash"></i></div> -->
      <form
        action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE"
        method="post"
      >
        <button type="submit"><i class="fas fa-solid fa-trash"></i></button>
      </form>
      <% } %>
    </div>
  </div>
  <% }) %>

  <form action="/posts/<%= post._id %>/comment?_method=PATCH" method="post">
    <input type="text" name="data" placeholder="Comment" autocomplete="off" />
    <button type="submit">Add comment</button>
  </form>
</main>
<%- include('../partials/footer') %>
